
/*
* source http://jqueryui.com/
* pour liste déroulante
*/
.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* support IE 6*/
* html .ui-autocomplete {
  height: 100px;
}
